<div class="w-full h-[150px] pt-6">
  <div class="w-4/5 m-auto flex justify-between items-center">
    <h1 class="text-black text-3xl font-bold">Todo List</h1>
    <button (click)="toggleMode()"
      class="border-2 border-solid border-black rounded-lg px-1 text-white sm:text-2xl font-bold bg-green-500 ease-in-out duration-300 select-none hover:scale-[1.2] hover:bg-green-600 active:bg-green-800">
      {{ todoMode === 'add' ? '搜尋模式🔍' : '列表模式📋' }}
    </button>
  </div>
  <div class="w-4/5 m-auto flex justify-center items-center mt-6 px-2">
    <input [(ngModel)]="isAll" type="checkbox" class="w-10 h-10 cursor-pointer"
      [class]="{ 'invisible': todoListCount === 0 }">
    @if (todoMode === 'add'){
    <div class="w-full flex justify-center items-center">
      <input #taskInput placeholder="請輸入代辦事項" [(ngModel)]="task" (input)="task = taskInput.value.trim()"
        class="text-center w-1/3 h-10 text-blue-600 font-bold text-lg px-2 border-2 border-black rounded-lg ease-in-out duration-500 focus:w-1/2 focus:border-blue-500 focus:outline-none" />
      <button (click)="addTask()"
        class="w-10 h-10 bg-blue-500 text-3xl text-white rounded-md ml-2 ease-in-out duration-300 hover:scale-[1.2] hover:bg-blue-600 active:bg-blue-800 select-none">
        +
      </button>
    </div>
    }
    @else{
    <div class="w-full flex justify-center items-center">
      <input #keyWordInput placeholder="請輸入關鍵字" [(ngModel)]="keyWord" (input)="keyWord = keyWordInput.value.trim()"
        class="text-center w-1/3 h-10 text-blue-600 font-bold text-lg px-2 border-2 border-black rounded-lg ease-in-out duration-500 focus:w-1/2 focus:border-blue-500 focus:outline-none">
    </div>
    }
  </div>
</div>